.section-about {
   padding-top: 0;
}

.title {
   margin-top: 0px;
   margin-bottom: 50px;
   color: var(--title-text-color);

   font-size: 36px;
   line-height: 1.16;
   text-align: center;
}

.about-list {
   display: flex;
   @extend %list;
}

.about-list__item + .about-list__item {
   margin-left: 30px;
}

.about-overlay {
   position: relative;
}

.about-list__title {
   position: absolute;

   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 0;

   content: '';
   width: 100%;
   height: 70px;
   margin: 0;

   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;

   color: var(--white-color);
   background-color: rgba(47, 48, 58, 0.8);
}