.partners-list {
   @include centredFlex(center, stretch);
   // display: flex;
   // align-items: center;
   @extend %list;
}

.partners-list__item {
   @include centredFlex(center, stretch);
   // display: flex;
   // align-items: center;
   &:not(:last-child) {
   margin-right: 30px;
   }
}

.partners-list__link {
   color: var(--icon-colors);

   // display: flex;
   // align-items: center;
   // justify-content: center;
   @include centredFlex();
   border: 1px solid var(--icon-colors);
   border-radius: 4px;
   height: 92px;
   width: 170px;

   transition: color 250ms var(--timing-function),
   border 250ms var(--timing-function);

   &:hover,
   &:focus {
   color: var(--accent-color);
   border: 1px solid var(--accent-color);
   }
}

.partners-list__icon {
   fill: currentColor;

   transition: fill 250ms var(--timing-function);
}