.clients__title{
   font-size: 28px;
   line-height: 1.18;
   text-align: center;
   color: $title-text-color;
   margin-bottom: 30px;

   @media screen and (min-width: $desktop){
      font-size: 36px;
      line-height: 1.16;
      margin-bottom: 50px;
}
}

.partners-list {
   @extend %list;
   display: flex;
   flex-wrap: wrap;
   margin: calc(-1 * #{$indent} / 2);

   &.card-set{
      @media screen and (min-width: $tablet) {
         $indent: 3;
   }
      @media screen and (min-width: $desktop) {
         flex-wrap: nowrap;
      }
   }
   
   @media screen and (min-width: $desktop){
      @include centredFlex(center, stretch);
   }
}

.partners-list__item {
   @include centredFlex(center, stretch);
   margin: calc(#{$indent} / 2);
   flex-basis: calc((100% - #{$items} * #{$indent}) / #{$items});

   &.card-set__item{
   @media screen and (min-width: $tablet) {
   $indent: 3;
   }
   }
   
   &:not(:last-child){
      @media screen and (min-width: $desktop){
      margin-right: 30px;
      }
   }
}

.partners-list__link {
   color: var(--icon-colors);

   @include centredFlex();
   border: 1px solid var(--icon-colors);
   border-radius: 4px;
   height: 92px;
   width: 170px;

   transition: color 250ms var(--timing-function),
   border 250ms var(--timing-function);

   &:hover,
   &:focus {
   color: var(--accent-color);
   border: 1px solid var(--accent-color);
   }
}

.partners-list__icon {
   fill: currentColor;

   transition: fill 250ms var(--timing-function);
}