.footer {
   padding-top: 60px;
   padding-bottom: 60px;

   background-color: var(--bcg-color);
}


.main-footer {
   @media screen and (max-width: 767px){
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   @media screen and (min-width: $tablet) and (max-width: 1199px){
      display: flex;
      flex-wrap: wrap;
      padding-left: 76px;
      padding-right: 89px;
      }

   @media screen and (min-width: $desktop){
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
   }
   
}

.box-contacts{
   @media screen and (max-width: 1199px){
   text-align: center;
   margin-bottom: 60px;
   }

   // @media screen and (min-width: $tablet) and (max-width: 1199px){
   //    margin-left: 76px;
   // }
}

.address-list {
   font-style: normal;
   line-height: 2;
   @extend %list;
}

.adress-list__item {
   @media screen and (max-width: 1199px){
      &:not(:last-child){
         margin-bottom: 8px;
      }
   }

   @media screen and (min-width: $desktop) {
      &:not(:last-child) {
         margin-bottom: 9px;
      }
   }
}

.adress-list__contacts,
.adress-list__telephone {
   color: var(--link-color);

   transition: color 250ms var(--timing-function);
}

.adress-list__location {
   color: var(--white-color);
}

.adress-list__contacts:hover,
.adress-list__telephone:hover,
.adress-list__contacts:focus,
.adress-list__telephone:focus {
   color: var(--accent-color);
}

.box-join {
   @media screen and (max-width: 767px){
      margin-bottom: 60px;
   }

   @media screen and (min-width: $tablet) and (max-width: 1199px){
      margin-left: 165px;
   }

   @media screen and (min-width: $desktop) {
   display: inline-block;
   margin-left: 70px;
}
}

.join-title {
   @media screen and (max-width: 1199px){
      text-align: center;
   }

   margin-bottom: 20px;
   margin-top: 0;

   color: var(--white-color);

   font-weight: 700;
   line-height: 1.14;
   text-transform: uppercase;
}

.list-actions{
   @extend %list;

   @media screen and (max-width: 767px) {
      margin: 0 auto;
}
}

.list-actions--white {
   fill: var(--white-color);

   transition: fill 250ms var(--timing-function);
}



.footer-form {
   @media screen and (min-width: $desktop){
      margin-left: 93px;
   }

   @media screen and (min-width: $tablet) and (max-width:1199px) {
      margin: 0 auto;
   }
}

.footer-form__label {
   @media screen and (max-width: 1199px){
      text-align: center;
   }

   display: block;
   margin-bottom: 20px;

   font-weight: 700;
   line-height: 1.14;
   text-transform: uppercase;

   color: var(--white-color);
}

.footer-form__input {
   padding-left: 30px;
   background-color: inherit;

   width: 358px;
   height: 50px;

   color: var(--white-color);
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;

   @media screen and (max-width: 1199px) {
         margin-bottom: 20px;
         display: block;
      }
}

.button-form {
   display: inline-flex;
   align-items: center;
   text-align: center;

   padding: 10px 29px;
   border-radius: 4px;
   border: 1px solid var(--accent-color);
   min-width: 200px;
   height: 50px;

   color: var(--white-color);
   background-color: var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

   cursor: pointer;

   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;

   @media screen and (min-width: $desktop){
      margin-left: 12px;
   }
}

.button-form__icon {
   margin-left: 10px;
   fill: currentColor;
}