.footer {
   padding-top: 60px;
   padding-bottom: 60px;

   background-color: var(--bcg-color);
}

.main-footer {
   display: flex;
   align-items: baseline;
}

.address-list {
   font-style: normal;
   line-height: 2;
   @extend %list;
}

.adress-list__item {
   margin-bottom: 9px;
}

.adress-list__contacts,
.adress-list__telephone {
   color: var(--link-color);

   transition: color 250ms var(--timing-function);
}

.adress-list__location {
   color: var(--white-color);
}

.adress-list__contacts:hover,
.adress-list__telephone:hover,
.adress-list__contacts:focus,
.adress-list__telephone:focus {
   color: var(--accent-color);
}

.box-join {
   display: inline-block;
   margin-left: 70px;
}

.join-title {
   margin-bottom: 20px;
   margin-top: 0;

   color: var(--white-color);

   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;
}

.list-actions{
   @extend %list;
}

.list-actions--white {
   fill: var(--white-color);

   transition: fill 250ms var(--timing-function);
}

// footer form

.footer-form {
   margin-left: 93px;
}

.footer-form__label {
   display: block;
   margin-bottom: 20px;

   font-weight: 700;
   line-height: 1.14;
   text-transform: uppercase;

   color: var(--white-color);
}

.footer-form__input {
   padding-left: 30px;
   background-color: inherit;

   width: 358px;
   height: 50px;

   color: var(--white-color);
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
}

.button-form {
   display: inline-flex;
   align-items: center;
   text-align: center;

   margin-left: 12px;
   padding: 10px 29px;
   border-radius: 4px;
   border: 1px solid var(--accent-color);
   min-width: 200px;
   height: 50px;

   color: var(--white-color);
   background-color: var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

   cursor: pointer;

   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
}

.button-form__icon {
   margin-left: 10px;
   fill: currentColor;
}