.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

   background: rgba(0, 0, 0, 0.2);
   opacity: 1;
}

.backdrop.is-hidden {
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
}

.backdrop.is-hidden .modal {
   transform: scale(1.1) translate(-50%, -50%);
   opacity: 0;
}

.modal {
   position: absolute;
   top: 50%;
   left: 50%;

   min-width: 528px;
   border-radius: 4px;

   background-color: var(--white-color);

   opacity: 1;
   transform: scale(1) translate(-50%, -50%);
   transition: transform 250ms var(--timing-function),
      opacity 250ms var(--timing-function);
}

.close-button {
   position: absolute;
   top: 8px;
   right: 8px;

   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.1);

   padding: 0;
   cursor: pointer;

   background-color: rgba(255, 255, 255, 1);

   transition: fill 250ms var(--timing-function);

   &:focus,
   &:hover {
   fill: var(--accent-color);
   }
}

.close-button__icon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.form-action {
   padding: 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.form-title {
   margin-bottom: 16px;
   margin-top: 0;

   font-size: 20px;
   line-height: 1.15;
   text-align: center;

   color: var(--title-text-color);
}

.form {
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
   margin-top: 0;
   padding: 0;
   width: 100%;
}

.form-field {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0;

   &:not(:last-child) {
   margin-bottom: 10px;
   }
}

.form-field__input {
   height: 40px;
   margin: 0;
   padding: 0;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   padding-left: 35px;

   cursor: pointer;

   &:focus{
   outline: none;
   border: 1px solid var(--accent-color);
   }
}

.form-field__icon {
   position: absolute;
   top: 50%;
   left: 12px;

   width: 18px;
   height: 18px;

   transition: fill 250ms var(--timing-function)
}

.form-field__input:focus+.form-field__icon {
   fill: var(--accent-color);
}

.form-field__label {
   margin-bottom: 4px;

   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;

   color: var(--primary-text-color)
}

textarea {
   resize: none;
   height: 120px;
   padding: 12px 16px;

   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   cursor: pointer;

   &:focus {
   outline: none;
   border: 1px solid var(--accent-color);
   }

   &::placeholder {
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;
   
   color: rgba(117, 117, 117, 0.5);
   }
}

.label {
   // display: flex;
   // align-items: center;
   @include centredFlex(center, stretch);
   margin-bottom: 30px;

   line-height: 1.71;
   color: var(--primary-text-color);
}

.label__checkbox {
   /* -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   position: absolute; */
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.label__icon {
   display: inline-block;
   width: 16px;
   height: 15px;

   margin-right: 7px;

   border: 2px solid var(--title-text-color);
   border-radius: 4px;
}

.label__checkbox:checked+.label__icon {
   background-color: var(--accent-color);
   background-image: url('../images/form/icon-check.svg');
   background-size: contain;
   background-origin: border-box;
   border-color: var(--accent-color);
   background-repeat: no-repeat;
}

.label__link {
   display: inline;
   color: var(--accent-color);
   margin-left: 3px;
}