.page-header {
   position: relative;

   outline: 1px solid #ECECEC;
}

.main-header {
   
   display: flex;
   align-items: center;
   min-height: 60px;

   @media screen and (min-width: $tablet){
      min-height: 80px;
   }
   
}

// Мобильное меню

.menu-button {
   position: absolute;
   top: 10px;
   right: 15px;
   z-index: 99;

   display: inline-flex;
   padding: 0;
   margin: 0;
   border: none;
   background-color: transparent;

   @media screen and (min-width: $tablet){
   display: none;
   }

}

.menu-button .icon-cross{
   display: none;
}

.menu-button.is-open .icon-cross{
   display: block;
}

.menu-button.is-open .icon-menu{
   display: none;
}

.menu-container{
   background-color:$white-color;

   @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 48px 40px;

   &.is-open {
      display: block;
      }
   }

   @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
   }
}

.nav{
   @media screen and (max-width: 767px) {
         margin-bottom: 302px;
      }

   @media screen and (min-width: $tablet) and (max-width: 1199px) {
      margin-left: 88px;
   }

   @media screen and (min-width: $desktop) {
      margin-left: 93px;
   }
}

.site-nav {
   @extend %list;

   @media screen and (min-width: $tablet) {
      display: flex;
   }
}

.site-nav__item{
   &:not(:last-child) {
      @media screen and (max-width: 767px) {
         margin-bottom: 32px;
      }
   }
}

.site-nav__item+.site-nav__item {
   @media screen and (min-width: $tablet) {
      margin-left: 50px;
   }
}

.site-nav__link {
   font-weight: 500;
   font-size: 40px;
   line-height: 1.17;
   letter-spacing: 0.02em;

   color: var(--title-text-color);

   &:hover,
   &:focus {
   color: var(--accent-color);
   }

   transition: color 250ms var(--timing-function);

   @media screen and (min-width: $tablet) {
      display: block;
      font-size: 14px;
      line-height: 1.14;

      padding-top: 32px;
      padding-bottom: 32px;
   } 
}

.site-nav__link--current {
   color: var(--accent-color);

   @media screen and (min-width: $tablet){
      position: relative;

      &::after {
      position: absolute;
      left: 0;
      bottom: 0;

      content: '';
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
   }
   }
}

.auth-nav {
   @extend %list;

   @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 64px;
      }

   // @media screen and (min-width: $tablet){
   //    margin-left: auto;
   // }
   
   @media screen and (min-width: $desktop) {
      display: flex;
      // margin-left: auto;
   }

}

.auth-nav__item{
   &.tel{
   @media screen and (max-width: 767px) {
      margin-bottom: 32px;
   }
   }

   &.mail {
      @media screen and (max-width: 767px) {
      order: 2;
      }
}

   @media screen and (min-width: $tablet) and (max-width: 1199px) {
   &:first-child {
   margin-bottom: 10px;
   }
}
}


.auth-nav__item+.auth-nav__item {
   @media screen and (min-width: $desktop) {
   margin-left: 30px;
   }
   
}

.auth-nav__link {
   &.tel{
      @media screen and (max-width: 767px){
      font-weight: 500;
      font-size: 34px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: var(--accent-color);
      }
   }

   &.mail{
      @media screen and (max-width: 767px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      color: var(--primary-text-color);
   }
   }

   @media screen and (min-width: $tablet) {
      font-weight: 500;
      font-size: 12px;
      line-height: 1, 16;
      letter-spacing: 0.02em;
      color: var(--primary-text-color);
   
      transition: color 250ms var(--timing-function);
   
      &:hover,
      &:focus {
         color: var(--accent-color);
         }
      }

   @media screen and (min-width: $desktop) {
      padding-top: 20px;
      padding-bottom: 20px;
      @include centredFlex(center, stretch);
   }

   
}

.auth-nav__icon {
   @media screen and (max-width: 767px){
      display: none;
   }

   @media screen and (min-width: $tablet) {
   margin-right: 8px;
   fill: currentColor;

   transition: fill 250ms var(--timing-function);
}
}

.list-soc{
   @extend %list;

   display: flex;
   // justify-content: center;

   @media screen and (min-width: $tablet) {
      display: none;
      }
   
}

.list-soc__item{
   
   &:not(:last-child) {
      margin-right: 20px;
      }
}

.list-soc__link{
   position: relative;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
   
      color: var(--accent-color);

   &::after {
      position: absolute;
      right: -20px;
      bottom: 10px;

      content: '';
      transform: rotate(90deg);
      display: inline-block;
      width: 22px;
      height: 1px;
      background-color: rgba(33, 33, 33, 0.2);
   }
}