.hero {
max-width: 1600px;
margin-left: auto;
margin-right: auto;
text-align: center;
padding: 118px 0;

background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero480.jpg");

background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-color: var(--bcg-color);

@media screen and (min-width: $desktop){
padding: 200px 0;
}
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
   .hero {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/index/hero/hero480@2x.jpg');
   }
}

@media (min-width: 481px) {
   .hero {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/index/hero/hero768.jpg');
   }

   @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
      .hero {
         background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
               rgba(47, 48, 58, 0.4)), url('../images/index/hero/hero768@2x.jpg');
      }
   }
}

@media (min-width: 769px) {
   .hero {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/index/hero/hero1600.jpg');
   }

   @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
      .hero {
         background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
               rgba(47, 48, 58, 0.4)), url('../images/index/hero/hero1600@2x.jpg');
      }
   }
}

.hero__hero-title {
font-weight: 900;
font-size: 26px;
line-height: 1.62;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

margin-bottom: 30px;

color: var(--white-color);

@media screen and (min-width: $desktop) {
font-size: 44px;
line-height: 1.36;
}
}