.hero {
   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding: 200px 0;

   background-image: linear-gradient(rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero.jpg");

   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: var(--bcg-color);
}

.hero__hero-title {
   margin-top: 0;
   margin-bottom: 30px;
   color: var(--white-color);

   text-transform: uppercase;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
}