.btn-list {
   @extend %list;

   @media screen and (max-width: 767px){
      display: flex;
      flex-wrap: wrap;
      margin: -8px;
      margin-bottom: 32px;
   }

      @media screen and (min-width: $tablet){
      @include centredFlex(stretch, center);
      margin-bottom: 30px;
      }

      @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
      }
}

.btn-list__item{
   @media screen and (max-width: 767px) {
         margin: 8px;
      }

   @media screen and (min-width: $tablet){
      &+& {
            margin-left: 8px;
         }
   }
}

.card-list {
   @extend %list;
}

.card-list__item {
   &:not(:last-child) {
      @media screen and (max-width: 767px){
      margin-bottom: 30px;
      }
   }

   &.card-set__item {
      @media screen and (min-width: $desktop) {
         margin: calc(#{$indent} / 2);
            $items: 3;
            flex-basis: calc((100% - #{$items} * #{$indent}) / #{$items});
         }
      }
}

.card-list__link {
   @media screen and (min-width: $tablet){
      display: flex;
      flex-direction: column;
      flex-grow: 1;
   }

   transition: box-shadow 250ms var(--timing-function);

   &:hover,
   &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
         0px 4px 4px rgba(0, 0, 0, 0.06),
         1px 4px 6px rgba(0, 0, 0, 0.16);
   }
}

.product-thumb {
   position: relative;
   overflow: hidden;
}

.product-overlay {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 100%;

   background-color: var(--accent-color);

   transform: translateY(100%);
   transition: transform 250ms var(--timing-function);

   .card-list__link:hover &,
   .card-list__link:focus & {
         transform: translateY(0);
      }
}

.product-thumb__text {
   position: absolute;
   bottom: 0;
   left: 0;

   margin: 0;
   width: 322px;

   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   font-size: 18px;
   line-height: 1.55;

   color: var(--white-color);

   transition: opacity 250ms var(--timing-function);
}

.card-thumb {
   border: 1px solid #EEEEEE;
   border-top: none;
   padding: 20px 24px;

   flex-grow: 1;
}

.card-thumb__title {
   margin-bottom: 4px;

   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;

   color: var(--title-text-color);
}

.card-thumb__description {
   margin: 0;

   color: var(--primary-text-color);

   font-size: 16px;
   line-height: 1.87;
}