.section-team {
   background-color: $bcg-second-color;
}

.section-team__title{
   margin-bottom: 30px;
   color: var(--title-text-color);

   font-size: 28px;
   line-height: 1.18;
   text-align: center;

   @media screen and (min-width: $desktop){
   margin-bottom: 50px;
   font-size: 36px;
   line-height: 1.16;
}
}

.team-list {
   @extend %list;

   &.card-set{
      @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
   }
   }
   
}

.team-list__item {
   background: #FFFFFF;
   box-shadow:
      0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;

   text-align: center;

   &:not(:last-child){
   @media screen and (max-width: 767px){
      margin-bottom: 30px;
   }
   }

   // &.card-set__item {
   //    @media screen and (min-width: $desktop) {
   //    $items: 4;
   //    }
   // }
}

.team-list__icon{
   width: 100%;
}

.team-list__title {
   margin-bottom: 10px;

   color: var(--title-text-color);

   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
}

.team-list__text {
   margin-bottom: 16px;

   font-size: 16px;
   line-height: 1.19;
}

.team-box {
   display: flex;
   flex-direction: column;
   align-items: center;

   padding-top: 30px;
   padding-bottom: 24px;

   @media screen and (min-width: $desktop){
   padding-bottom: 30px;
   }
}

.list-actions {
   @include centredFlex(center, stretch);
   padding: 0;
}

.list-actions__item {
   display: flex;
   align-items: center;

   &:not(:last-child) {
   margin-right: 10px;
   }
}

.list-actions__link {
   @include centredFlex();

   height: 44px;
   width: 44px;
   border-radius: 50%;

   color: var(--icon-colors);
   background-color: rgba(255, 255, 255, 0.1);

   transition: color 250ms var(--timing-function),
   background-color 250ms var(--timing-function);

   &:hover,
   &:focus {
   background-color: var(--accent-color);
   color: var(--white-color);
   }
}

.list-actions__icon {
   height: 22px;
   width: 22px;
   fill: currentColor;

   transition: fill 250ms var(--timing-function);
}