.button {
   padding: 6px 22px;
   border-radius: 4px;
   border: 1px solid var(--bcg-second-color);
   min-width: 73px;
   min-height: 38px;

   color: var(--title-text-color);
   background-color: var(--bcg-second-color);

   cursor: pointer;

   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;

   transition: color 250ms var(--timing-function),
      background-color 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function);

   &:hover,
   &:focus {
   color: var(--white-color);
   background-color: var(--accent-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
               0px 1px 2px rgba(0, 0, 0, 0.08),
               0px 2px 2px rgba(0, 0, 0, 0.12);
         }
}

.primary-button {
   margin: 0 auto;
   padding: 10px 32px;
   border-radius: 4px;
   border: 1px solid var(--accent-color);
   min-width: 200px;
   min-height: 50px;

   color: var(--white-color);
   background-color: var(--accent-color);

   cursor: pointer;

   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
}

.button--active {
   background-color: var(--accent-color);
   color: var(--white-color);
}

.primary-button--large {
   padding: 10px 55px;

   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}