.container{
   margin-left: auto;
   margin-right: auto;
   padding-right: 15px;
   padding-left: 15px;

   @media screen and (min-width: $mobile) {
      width: $mobile;
   }
   
   @media screen and (min-width: $tablet) {
      width: $tablet;
   }
   
   @media screen and (min-width: $desktop) {
      width: $desktop;
   }
}

.link {
   text-decoration: none;
}

.accent {
   color: var(--accent-color);
}

.section {
   padding-top: 60px;
   padding-bottom: 60px;

   @media screen and (min-width: $desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
}
}

.card-set{
   @media screen and (min-width: $tablet){
      display: flex;
      flex-wrap: wrap;
      margin: calc(-1 * #{$indent} / 2);
   }
}

.card-set__item{
   @media screen and (min-width: $tablet){
   margin: calc(#{$indent} / 2);
   flex-basis: calc((100% - #{$items} * #{$indent}) / #{$items});
   }

   @media screen and (min-width: $desktop) {
   flex-basis: calc((100% - #{$items} * #{$indent}) / #{$items});
      }

}

.visually-hidden{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}