// $primary-text-color: #757575;
// $title-text-color: #212121;
// $accent-color: #2196F3;
// $white-color: #ffffff;
// $black-color: #000000;
// $link-color: rgba(255, 255, 255, 0.6);
// $bcg-color: #2F303A;
// $bcg-second-color: #F5F4FA;
// $icon-colors: #AFB1B8;
// $timing-function: cubic-bezier(0.4, 0, 0.2, 1);

:root {
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color: #2196F3;
   --white-color: #ffffff;
   --black-color: #000000;
   --link-color: rgba(255, 255, 255, 0.6);
   --bcg-color: #2F303A;
   --bcg-second-color: #F5F4FA;
   --icon-colors: #AFB1B8;

   --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}